<div class="nav-items">
<div class="nav-item">
    <mat-icon>dashboard</mat-icon>
    <span>Requisition</span>
</div>
<div class="nav-item">
    <mat-icon>dashboard</mat-icon>
    <span>Request for quotation</span>
</div>
<div class="nav-item">
    <mat-icon>dashboard</mat-icon>
    <span>All RFQs</span>
</div>
<div class="nav-item">
    <mat-icon>dashboard</mat-icon>
    <span>Manage RFQs</span>
</div>
<div class="nav-item">
    <mat-icon>dashboard</mat-icon>
    <span>Receive RFQ Applications</span>
</div>
<div class="nav-item">
    <mat-icon>dashboard</mat-icon>
    <span>Request for proposal</span>
</div>
<div class="nav-item">
    <mat-icon>dashboard</mat-icon>
    <span>All RFPs</span>

</div>
<div class="nav-item">
    <mat-icon>dashboard</mat-icon>
    <span>Manage RFPs</span>
</div>
<div class="nav-item">
    <mat-icon>dashboard</mat-icon>
    <span>Purchase order</span>
</div>
<div class="nav-item">
    <mat-icon>dashboard</mat-icon>
    <span>Recieved items</span>
</div>
<div class="nav-item">
    <mat-icon>dashboard</mat-icon>
    <span>Supply invoices</span>
</div>
<div class="nav-item">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
</div>
</div>